body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  display: none; 
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; 
}
.topnav li {
  float: left;
}
.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.topnav li a:hover {
  background-color: #111;
}
.flex-container {
  display: flex;
  flex-wrap: wrap; 
  padding: 20px;
}
.flex-container > div:nth-child(1),
.flex-container > div:nth-child(3) {
  flex: 20%; 
  padding: 10px;
}
.flex-container > div:nth-child(2) {
  flex: 60%; 
  padding: 10px;
}
@media (max-width: 700px) {
  .flex-container {
    flex-direction: column;
  }
  .topnav li {
    float: none;
    width: 100%;
  }
}
